<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="The web developer portfolio of Jeremy Antonoff."/>
    <title>Jeremy Antonoff | Portfolio</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico?" />
    <link href="https://fonts.googleapis.com/css?family=Strait%7CFira+Sans%7CHind" rel="stylesheet">
    <link rel = "stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header id = "topHeader">
      <h1>Jeremy Antonoff</h1>
      <h2>Full Stack Developer</h2>
      <a href="https://github.com/JeremyAntonoff" class="tooltip" data-tooltip="GitHub"><img class = "icons" src = "/img/icons/github.PNG" alt="GitHub"></a>
      <a href="https://www.linkedin.com/in/JeremyAntonoff" class="tooltip" data-tooltip="LinkedIn"><img class = "icons" src = "/img/icons/linkedin.PNG" alt="Linked In"></a>
      <a href="#" class="tooltip" data-tooltip="Resume"><img class = "icons" src = "/img/icons/resume.PNG" alt="Resume"></a>
      <a href = "#about" class="scroll"><img id = "arrow" src = "/img/arrow.PNG" alt="down arrow"></a>
    </header>
    <section id = "about">
      <div id = "aboutBox">
        <div id="aboutIMG">
          <img src="/img/me.JPG" alt="picture of Jeremy Antonoff">
        </div>
        <div id = "aboutContent">
          <h2>ABOUT ME</h2>
          <p>Hey Everyone! My name is <strong>Jeremy Antonoff</strong> and I currently reside in sunny(mostly rainy) <strong>Florida</strong>!
          Ever since I was a child growing up in Marietta, GA I was passionate about two things, theme parks and technology.
          Being in Florida, I get my fair share of theme parks but what about technology?
          Well, I am an <strong>ambitious and passionate self-taught web developer</strong> who looks forward to learning and adapting to new technologies.
          Through my work, you can see I'm well versed in many things including <strong>Javascript, APIS, and jquery</strong>. I'm also comfortable and excited
          to use back end technologies such as <strong>Node, Express, and MONGODB</strong>. The list of things I learn grows everyday and thats what I love most about development.
          Outside of coding, I love to travel, play ping pong, go to theme parks, visit different comedy clubs, and try out different cuisines!</p>
          <h2 id = "technology">TECHNOLOGIES</h2>
          <span class="tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
          <span class="tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
          <span class="tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
          <span class="tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
          <span class="tooltip" data-tooltip="NodeJS & Express"><img class = "techIcons" src = "/img/icons/nodejs.SVG" alt="NodeJS and Express"></span>
          <span class="tooltip" data-tooltip="Mongo & Mongoose"><img class = "techIcons" src = "/img/icons/mongo.PNG" alt="Mongo and Mongoose"></span>
          <span class="tooltip" data-tooltip="Heroku"><img class = "techIcons" src = "/img/icons/heroku.PNG" alt="Heroku"></span>
          <span class="tooltip" data-tooltip="React"><img class = "techIcons" src = "/img/icons/react.SVG" alt="React"></span>
          <span class="tooltip" data-tooltip="Redux"><img class = "techIcons" src = "/img/icons/redux.PNG" alt="Redux"></span>
        </div>
      </div>
      <a href = "#work" class="scroll">
      <div class = "navigate-button">
        <h2>SEE MY WORK</h2>
      </div></a>
    </section>
    <section id = "work">
      <h1 class = "project-heading">WORK</h1>
      <div id ="projects">
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/seeki"><img src = "/img/work/seeki.JPG" alt="North Pacific Restaurant"></a>
          <div class = "project-content">
            <h2>Seeki APP</h2>
            <p>A music application made with React and Redux. Search for music and have the ability to save it!</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="NodeJS & Express"><img class = "techIcons" src = "/img/icons/nodejs.SVG" alt="NodeJS and Express"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Mongo & Mongoose"><img class = "techIcons" src = "/img/icons/mongo.PNG" alt="Mongo and Mongoose"></span>
            <span class="tooltip proj-tooltip" data-tooltip="React"><img class = "techIcons" src = "/img/icons/react.SVG" alt="React"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Redux"><img class = "techIcons" src = "/img/icons/redux.PNG" alt="Redux"></span>
          </div>
          <div class = "project-buttons">
            <a href = "http://seeki.jeremyantonoff.com" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/seeki">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/north_pacific"><img src = "/img/work/np.JPG" alt="North Pacific Restaurant"></a>
          <div class = "project-content">
            <h2>North Pacific Restaurant</h2>
            <p>A full stack website that features a contact form, API
              integration, and an admin area that uses CRUD and RESTful routing practices for blogs.</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
            <span class="tooltip proj-tooltip" data-tooltip="NodeJS & Express"><img class = "techIcons" src = "/img/icons/nodejs.SVG" alt="NodeJS and Express"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Mongo & Mongoose"><img class = "techIcons" src = "/img/icons/mongo.PNG" alt="Mongo and Mongoose"></span>
          </div>
          <div class = "project-buttons">
            <a href = "http://northpacific.jeremyantonoff.com" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/north_pacific">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/simon"><img src = "/img/work/simon.JPG" alt="A picture of a simon game I created"></a>
          <div class = "project-content">
            <h2>Simon Game</h2>
            <p>A web APP for the popular game SIMON. Repeat the key presses and
              use strict mode to allow zero errors!</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
          </div>
          <div class = "project-buttons">
            <a href = "/portfolio/simon/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/simon">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/Tic-tac-toe"><img src = "/img/work/tictac.JPG" alt="A picture of a tic-tac-toe game I created"></a>
          <div class = "project-content">
            <h2>Tic-Tac-Toe</h2>
            <p>A web app version of tic-tac-toe created with a basic version
              of an AI that checks for winning and blocking combinations.</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
        </div>
          <div class = "project-buttons">
            <a href = "/portfolio/tictactoe/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/Tic-tac-toe">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/weather-app"><img src = "/img/work/weather.JPG" alt="Weather APP"></a>
          <div class = "project-content">
            <h2>Weather APP</h2>
            <p>A weather application that uses the Weather Underground API. Features
            the current forecast and a fahrenheit to celsius converter.</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
          </div>
          <div class = "project-buttons">
            <a href = "/portfolio/weather-app/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/weather-app">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/calculator"><img src = "/img/work/calc.JPG" alt="Calculator Web APP"></a>
          <div class = "project-content">
            <h2>Calculator</h2>
            <p>A web calculator made only with HTML, CSS, and Javascript(JQuery)!</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
          </div>
          <div class = "project-buttons">
            <a href = "/portfolio/calculator/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/calculator">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/Wiki-Search"><img src = "/img/work/wiki.JPG" alt="Wikipedia API APP"></a>
          <div class = "project-content">
            <h2>Wikipedia Search</h2>
            <p>Generate ten articles based on a user's input by utilizing the Wikipedia API.</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
            <span class="tooltip proj-tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/icons/jquery.PNG" alt="JQuery"></span>
          </div>
          <div class = "project-buttons">
            <a href = "/portfolio/wikipedia-search/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/Wiki-Search">GITHUB</a>
          </div>
        </div>
        <div class = "project last-row">
          <a href="https://github.com/JeremyAntonoff/pomodoro"><img src = "/img/work/pomo.JPG" alt="Pomodoro Timer APP"></a>
          <div class = "project-content">
            <h2>Pomodoro Clock</h2>
            <p>Set your session and break length to increase your productivity!</p>
          </div>
          <div class = "project-icons">
            <span class="tooltip proj-tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/icons/html.SVG" alt="HTML5"></span>
            <span class="tooltip proj-tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/icons/css3.SVG" alt="CSS3"></span>
            <span class="tooltip proj-tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/icons/js.JPG" alt="Javascript"></span>
          </div>
          <div class = "project-buttons">
            <a href = "/portfolio/pomodoro/" target="_blank">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/pomodoro">GITHUB</a>
          </div>
        </div>
        <div class="hidden"></div>
      </div>
    </section>
    <section id = "contact">
      <h1 class = "project-heading">CONTACT</h1>
        <div id ="contact-area">
          <form id="contact-form">
              <h2>Contact me via email or phone:</h2>
              <div id="contact-details">
                <div>
                  <img src="/img/icons/email.PNG" alt="Email Icon"><a href="mailto:jeremyantonoff@gmail.com">jeremyantonoff@gmail.com</a>
                </div>
                <div>
                  <img src="/img/icons/phone.PNG" alt="Phone Icon"><h3>407-536-8618</h3>
                </div>
              </div>
              <h2>Or fill out this form:</h2>
            <label class="label" for="name">Name:</label>
            <input class="form" id="name" type="text" name="name" required>
            <label class="label" for="email">Email:</label>
            <input class="form" id="email" type="email" name="email" required>
            <label class="label" for="textbox">Message:</label>
            <textarea id="textbox" name="message" required></textarea>
            <button id="form-button" type="submit">SUBMIT</button>
            <h2 class="form-message">message</h2>
          </form>
        </div>
        <a href = "#topHeader" class="scroll">
          <div class = "navigate-button" id="backTop">
          <h2>BACK TO TOP</h2>
        </div></a>
    </section>
    <footer id="footer">
      <h4>This portfolio will always be a work in progress. Check out the repo @ <a href="https://github.com/JeremyAntonoff/Jeremy-Antonoff-Portfolio">GitHub</a></h4>
    </footer>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/japort.js"></script>
  </body>
</html>
