<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jeremy Antonoff | Portfolio</title>
    <link rel = "stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header id = "topHeader">
      <h1>Jeremy Antonoff</h1>
      <h2>Full Stack Developer</h2>
      <a href="https://github.com/JeremyAntonoff" class="tooltip" data-tooltip="GitHub"><img class = "icons" src = "/img/github.png" alt="GitHub"></a>
      <a href="https://www.linkedin.com/in/JeremyAntonoff" class="tooltip" data-tooltip="LinkedIn"><img class = "icons" src = "/img/linkedin.png" alt="Linked In"></a>
        <a href="#" class="tooltip" data-tooltip="Resume"><img class = "icons" src = "/img/resume.png" alt="resume"></a>
      <a href = "#about"><img id = "arrow" src = "/img/arrow3.png"></a>
    </header>
    <section id = "about">
      <div id = "aboutBox">
        <div id="aboutIMG">
          <img src="/img/me3.jpg"></img>
        </div>
        <div id = "aboutContent">
          <h1>ABOUT ME</h1>
          <p>Hey Everyone! My name is <strong>Jeremy Antonoff</strong> and I currently reside in sunny(mostly rainy) <strong>Florida</strong>!
          Ever since I was a child growing up in Marietta, GA I was passionate about two things, theme parks and technology.
          Being in Florida, I get my fair share of theme parks but what about technology?
          Well, I am an <strong>ambitious and passionate self-taught web developer</strong> who looks forward to learning and adapting to new technologies.
          Through my work, you can see I'm well versed in many things including <strong>Javascript, APIS, and jquery</strong>. I'm also comfortable and excited
          to use back end technologies such as <strong>Node, Express, and MONGODB</strong>. The list of things I learn grows everyday and thats what I love most about development.
          Outside of coding, I love to travel, play ping pong, go to theme parks, visit different comedy clubs, and try out different cuisines!</p>
          <h1 id = "technology">TECHNOLOGIES</h1>
          <span class="tooltip" data-tooltip="HTML5"><img class = "techIcons" src = "/img/html.svg"></span>
          <span class="tooltip" data-tooltip="CSS3"><img class = "techIcons" src = "/img/css3.svg"></span>
          <span class="tooltip" data-tooltip="JavaScript"><img class = "techIcons" src = "/img/js.jpg"></span>
          <span class="tooltip" data-tooltip="Jquery"><img class = "techIcons" src = "/img/jquery.svg"></span>
          <span class="tooltip" data-tooltip="NodeJS & Express"><img class = "techIcons" src = "/img/nodejs.svg"></span>
          <span class="tooltip" data-tooltip="Mongo & Mongoose"><img class = "techIcons" src = "/img/mongo.png"></span>
          <span class="tooltip" data-tooltip="Heroku"><img class = "techIcons" src = "/img/heroku.png"></span>
        </div>
      </div>
      <a href = "#work"><div id = "work-button">
        <h2>SEE MY WORK</h2>
      </div></a>
    </section>
    <section id = "work">

        <h1 class = "project-heading">WORK</h1>
        <div id ="projects">
          <div class = "project">
            <a href="https://github.com/JeremyAntonoff/north_pacific"><img src = "/img/work/np.jpg"></a>
            <div class = "project-content">
              <h2>North Pacific Restaurant</h2>
              <p>A full stack website that features a contact form, API
              integration, and an admin area that uses CRUD and RESTful routing practices for blogs.
              </p>
            </div>
            <div class = "project-icons">
              <img class = "techIcons" src = "/img/html.svg">
              <img class = "techIcons" src = "/img/css3.svg">
              <img class = "techIcons" src = "/img/js.jpg">
              <img class = "techIcons" src = "/img/jquery.svg">
              <img class = "techIcons" src = "/img/nodejs.svg">
              <img class = "techIcons" src = "/img/mongo.png">
            </div>
            <div class = "project-buttons">
              <a href = "#">LIVE SITE</a>
              <a href = "https://github.com/JeremyAntonoff/north_pacific">GITHUB</a>
          </div>
        </div>
        <div class = "project">
          <a href="https://github.com/JeremyAntonoff/simon"><img src = "/img/work/simon.jpg"></a>
          <div class = "project-content">
            <h2>Simon Game</h2>
            <p>A web APP for the popular game SIMON. Repeat the key presses and
              use strict mode to allow zero errors!
            </p>
          </div>
          <div class = "project-icons">
            <img class = "techIcons" src = "/img/html.svg">
            <img class = "techIcons" src = "/img/css3.svg">
            <img class = "techIcons" src = "/img/js.jpg">
            <img class = "techIcons" src = "/img/jquery.svg">
          </div>
          <div class = "project-buttons">
            <a href = "#">LIVE SITE</a>
            <a href = "https://github.com/JeremyAntonoff/simon">GITHUB</a>
        </div>
      </div>
      <div class = "project">
        <a href="https://github.com/JeremyAntonoff/Tic-tac-toe"><img src = "/img/work/tictac.jpg"></a>
        <div class = "project-content">
          <h2>Tic-Tac-Toe</h2>
          <p>A web app version of tic-tac-toe created with a basic version
            of an AI that checks for winning and blocking combinations.
          </p>
        </div>
        <div class = "project-icons">
          <img class = "techIcons" src = "/img/html.svg">
          <img class = "techIcons" src = "/img/css3.svg">
          <img class = "techIcons" src = "/img/js.jpg">
          <img class = "techIcons" src = "/img/jquery.svg">
        </div>
        <div class = "project-buttons">
          <a href = "#">LIVE SITE</a>
          <a href = "https://github.com/JeremyAntonoff/Tic-tac-toe">GITHUB</a>
      </div>
    </div>
    <div class = "project">
      <a href="https://github.com/JeremyAntonoff/weather-app"><img src = "/img/work/weather.jpg"></a>
      <div class = "project-content">
        <h2>Weather APP</h2>
        <p>A weather application that uses the Weather Underground API. Features
          the current forecast and a fahrenheit to celsius converter.
        </p>
      </div>
      <div class = "project-icons">
        <img class = "techIcons" src = "/img/html.svg">
        <img class = "techIcons" src = "/img/css3.svg">
        <img class = "techIcons" src = "/img/js.jpg">
        <img class = "techIcons" src = "/img/jquery.svg">
      </div>
      <div class = "project-buttons">
        <a href = "#">LIVE SITE</a>
        <a href = "https://github.com/JeremyAntonoff/weather-app">GITHUB</a>
    </div>
  </div>
  <div class = "project">
    <a href="https://github.com/JeremyAntonoff/calculator"><img src = "/img/work/calc.jpg"></a>
    <div class = "project-content">
      <h2>Calculator</h2>
      <p>A web calculator made only with HTML, CSS, and Javascript(JQuery)!
      </p>
    </div>
    <div class = "project-icons">
      <img class = "techIcons" src = "/img/html.svg">
      <img class = "techIcons" src = "/img/css3.svg">
      <img class = "techIcons" src = "/img/js.jpg">
    </div>
    <div class = "project-buttons">
      <a href = "#">LIVE SITE</a>
      <a href = "https://github.com/JeremyAntonoff/calculator">GITHUB</a>
  </div>
</div>
<div class = "project">
  <a href="https://github.com/JeremyAntonoff/Wiki-Search"><img src = "/img/work/wiki.jpg"></a>
  <div class = "project-content">
    <h2>Wikipedia Search</h2>
    <p>Generate ten articles based on a user's input by utilizing the Wikipedia API.
    </p>
  </div>
  <div class = "project-icons">
    <img class = "techIcons" src = "/img/html.svg">
    <img class = "techIcons" src = "/img/css3.svg">
    <img class = "techIcons" src = "/img/js.jpg">
    <img class = "techIcons" src = "/img/jquery.svg">
  </div>
  <div class = "project-buttons">
    <a href = "#">LIVE SITE</a>
    <a href = "https://github.com/JeremyAntonoff/Wiki-Search">GITHUB</a>
  </div>
</div>
<div class = "project">
  <a href="https://github.com/JeremyAntonoff/pomodoro"><img src = "/img/work/pomo.jpg"></a>
  <div class = "project-content">
    <h2>Pomodoro Clock</h2>
    <p>Set your session and break length to increase your productivity!
    </p>
  </div>
  <div class = "project-icons">
    <img class = "techIcons" src = "/img/html.svg" alt="HTML5">
    <img class = "techIcons" src = "/img/css3.svg">
    <img class = "techIcons" src = "/img/js.jpg">
  </div>
  <div class = "project-buttons">
    <a href = "#">LIVE SITE</a>
    <a href = "https://github.com/JeremyAntonoff/pomodoro">GITHUB</a>
  </div>
</div>
      </div>
    </section>
    <section id = "contact">
      <h1 class = "project-heading">CONTACT</h1>
        <div id ="contact-area">
          <form id="contact-form" action="/contact" method="POST">
          <div id="contact-details">
            <h1>Contact me via email or phone:</h1>
            <img src="/img/email.png"><h3>jeremyantonoff@gmail.com</h3>
            <img src="/img/phone.png"><h3>407-536-8618</h3>
            <h1>Or fill out this form:</h1>
          </div>
            <label class="label" for="name">Name:</label>
            <input class="form" id="name" type="text" name="name">
            <label class="label" for="email">Email:</label>
            <input class="form" id="email" type="text" name="email">
            <label class="label" for="textbox">Message:</label>
            <textarea id="textbox"></textarea>
            <button id="form-button" type="submit">Submit Form</button>
          </form>
        </div>
    </section>
    <script src="/js/japort.js"></script>
  </body>
</html>
